.interface__adding-mode {
    position: absolute;
    bottom: 5%;
    right: 5%;
    pointer-events: auto;
    /*transform: translate(-50%, -50%);*/
}

.adding-mode__button {
    /*margin: 0;*/
    padding: 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 10px 30px rgba(0, 0, 0, 0.8));
    /*outline: none;*/
    background-color: rgba(100, 100, 100, 0.65);
    border-width: 4px;
    border-color: white;
    position: relative;
}

.adding-mode__button-animation-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adding-mode__button:hover {
    background-color: rgba(1, 150, 1, 0.9);
    border-color: rgba(200, 200, 200, 0.95);
}

.adding-mode__button--active {
    background-color: rgba(100, 100, 100, 0.65);
}

.adding-mode__button--active:hover {
    background-color: rgba(100, 30, 1, 0.9);
    border-color: rgba(200, 200, 200, 0.95);
}
