.interface__custom-cursor {
    position: absolute;
    pointer-events: none;
    cursor: none;
    z-index: 10;
    will-change: transform;
    top: 0;
    left: 0;
    display: flex;
    gap: 20px;
}

.custom-cursor__icon {
    width: 12px;
    height: 12px;
    background: #ff4444;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    margin-left: -6px;
    margin-top: -6px;

    /*backface-visibility: hidden;*/
}

.custom-cursor__icon::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 20px;
    background: linear-gradient(to bottom, #000000, transparent);

    backface-visibility: hidden;
    will-change: transform;
}

.custom-cursor__coordinates {
    transform: translateY(-75%);
    background: rgba(0, 0, 0, 0.35);
    color: white;
    padding: 8px 8px;
    line-height: 16px;
    border-radius: 4px;
    font-size: 16px;
    font-family: monospace;
    white-space: nowrap;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    user-select: none;
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(255, 255, 255, 0.7);
    gap: 15px;
}

.custom-cursor__coordinates-lat,
.custom-cursor__coordinates-lng {
    font-weight: bold;
    width: 75px;
    height: 16px;
    display: inline-block;
    text-align: left;
}

.custom-cursor__coordinates-lng {
    padding-inline-end: 5px;
}
