#root {
    min-width: 768px;
    text-align: center;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.interface-container {
    position: absolute;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;

    /*display: grid;*/
    /*grid-template-columns: repeat(3fr);*/
}
